<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pitstop Workshop | About</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
        <link href="css/master.css" rel="stylesheet">
    </head>
    <body class="noIE inner-page">

        <!-- Loader -->
        <div id="ip-container" class="ip-container"> 
            <!-- initial header -->
            <header class="ip-header">
                <div class="ip-loader"> 
                    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                    <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,39.3,10z"/>
                    <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                    </svg>

                </div>
            </header>
            <!-- Loader end --> 
        </div>

        <!-- HEADER -->
        <header id="main-header">
            <div id="cd-nav"> <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
                <nav id="cd-main-nav">
                    <ul>
                        <li class="active"><a href="index.html"><span>Home</span> <small> LATEST REVIEWS OF PITSTOP WORKSHOP</small> </a></li>
                        <li ><a href="#"><span>Services </span> <small>PITSTOP SERVICES</small></a></li>
                        <li><a href="#"><span>NEWS & BLOG</span> <small>NEWS ABOUT UPCOMING</small></a></li>
                        <li ><a href="#"><span>Gallery </span> <small>PITSTOP GALLERY</small></a></li>
                        <li ><a href="#"><span>Contact </span> <small>PITSTOP CONTACT FORM</small></a></li>
                    </ul>
                </nav>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-4"> 
                        <!-- LOGO -->
                        <div id="logo" > <span class="bglogo1 transform-please-2"><a href="index.html"><img src="img/logo.png"  alt="logo"/></a></span> <span class="bglogo2 transform-please-2"></span> <span class="bglogo3 transform-please-2"></span> <span class="bglogo4 transform-please-2"></span> </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav id="main-nav" >
                    <div class="row">
                        <div class="col-md-12"> 
                            <!-- NAVIGATION -->
                            <div class="navbar navbar-default" role="navigation">
                                <div class="navbar-header"> </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav nav-justified">
                                        <li><a href="index.html"><span>Home</span> <small> LATEST REVIEWS OF PITSTOP WORKSHOP</small> </a></li>
                                        <li class="active"><a href="about.html"><span>About </span> <small>ABOUT PITSTOP</small></a></li>
                                        <li><a href="#"><span>Services </span> <small>PITSTOP SERVICES</small></a></li>
                                        <li><a href="blog.html"><span>NEWS & BLOG</span> <small>NEWS ABOUT UPCOMING</small></a></li>
                                        <li><a href="gallery.html"><span>Gallery </span> <small>PITSTOP GALLERY</small></a></li>
                                        <li ><a href="#"><span>Contact </span> <small>PITSTOP CONTACT FORM</small></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- HEADER END -->

    <main id="main" class="section">
        <div class="container">
            <div class="row">
                <!-- MAIN CONTENT -->
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <section class="main-content" role="main">
                        <p><img  width="1200" height="400" src="media/image-alignment-1200x4002.jpg" alt="Image Alignment 1200x400" title="Image Alignment 1200x400" class="alignnone  wp-image-907 img-responsive"></p>
                        <p>The image above, though 1200px wide, should not overflow the content area. It should remain contained with no visible disruption to the flow of content.</p>
                        <p><img width="300" height="200" src="media/image-alignment-300x200.jpg" alt="Image Alignment 300x200" title="Image Alignment 300x200" class="size-full wp-image-905 alignright"></p>
                        <p>And now we’re going to shift things to the <em><strong>right align</strong></em>. Again, there should be plenty of room above, below, and to the left of the image. Just look at him there… Hey guy! Way to rock that right side. I don’t care what the left aligned image says, you look great. Don’t let anyone else tell you differently.</p>
                        <p>In just a bit here, you should see the text start to wrap below the right aligned image and settle in nicely. There should still be plenty of room and everything should be sitting pretty. Yeah… Just like that. It never felt so good to be right.</p>
                        <p>And just when you thought we were done, we’re going to do them all over again with captions!</p>
                    </section>
                </div>
                <!-- // MAIN CONTENT -->
                <div class="space40 visible-xs"></div>
                <!-- SIDEBAR -->
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <aside class="sidebar">
                        <div class="widget widget-category">
                            <h3 class="widget-title"><span>categories</span></h3>
                            <ul class="category-list unstyled clearfix">
                                <li><a href="#">Technology</a><span class="posts-count">25</span></li>
                                <li><a href="#">News</a><span class="posts-count">11</span></li>
                                <li><a href="#">Photography</a><span class="posts-count">47</span></li>
                                <li><a href="#">Design</a><span class="posts-count">10</span></li>
                                <li><a href="#">Web Design</a><span class="posts-count">15</span></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <!-- // SIDEBAR --> 
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <div class="footer-block">
        <div class="container">
            <div class="row">
                <div class="foot-top-line"></div>
                <div class="foot-bot-line"></div>
                <a class="scroll-top" href="#"><i class="fa fa-angle-up"></i> </a> </div>
        </div>
        <div class="container">
            <div class="row text-center copyright-info">
                <p> © ALL RIGHTS RESERVED 2016 - PITSTOP WORKSHOW</p>
            </div>
        </div>
    </div>
    <!-- END --> 

    <!-- ABSOLUTE FOOTER -->
    <div class="copyright-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <ul class="unstyled clearfix social-team">
                        <li><a href="http://fb.com/#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google"></i></a></li>
                        <li><a href="http://youtube.com/#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="http://rss.com/#" target="_blank"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END --> 

    <!-- SCRIPTS --> 
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>  
    <script src= "js/jquery-migrate-1.2.1.js" ></script> 
    <script src="js/bootstrap-3.1.1.min.js"></script> 
    <script src="js/modernizr.custom.js"></script> 
    <script src="js/classie.js"></script> 
    <script src="js/pathLoader.js"></script> 
    <script src="js/waypoints.min.js"></script> 
    <script src="js/loader.js"></script> 
    <script src="js/jflickrfeed.min.js"></script> 
    <script src="plugins/selectbox/jquery.selectbox-0.2.js"></script> 
    <script src="plugins/backstretch/backstretch-2.0.4.min.js"></script> 
    <script src="plugins/camera-slider/camera-slider-1.3.4.min.js"></script> 
    <script src="plugins/camera-slider/easing-1.3.min.js"></script> 
    <script src="plugins/fancybox/fancybox-1.3.4.pack.js"></script> 
    <script src="plugins/fancybox/klass-1.0.min.js"></script> 
    <script src="plugins/fancybox/photoswipe-3.0.5.min.js"></script> 
    <script src="plugins/hover-animations/transform2d.min.js"></script> 
    <script src="plugins/hover-animations/hover-animations-1.0.min.js"></script> 
    <script src="js/smart-menu.js"></script> 
    <script src="js/cssua.min.js"></script> 
    <script src="plugins/bxslider/jquery.bxslider.min.js"></script> 
    <script src="plugins/nouislider/jquery.nouislider.min.js"></script> 
    <script src="plugins/flexslider/jquery.flexslider.js"></script> 
    <script src="js/custom.js"></script>
</body>
</html>
